@import "../../../src/styles/variables.scss";
@import "../../../src/styles/fonts.scss";

.record-count-wrap {
  padding: 1rem 0;
  color: $secondary-text;
  font-size: .875rem;
}

// .project-table-container {
//   padding:1rem;
// filter: drop-shadow(0px 9px 12px rgba(208, 208, 208, 0.25));
//   background-color: $white;
// }

.project-table-wrap {
  padding: 0.75rem 1.25rem;
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.08);

  .project-table-container {
    border-radius: .75rem;
    box-shadow: none;

    .project-table {
      border-collapse: separate;
      border-spacing: 0 .5rem;
      border: none !important;

      .proj-table-first-col {
        @include nunito-bold();
        font-size: .876rem;
        color: $primary-text;
      }
    }

    .project-table-head {
      background-color: $background-blue-5;

      tr th {
        color: $text-grey-3;
        font-size: .75rem;
        @include nunito-bold();
      }
    }

    tbody tr {
      cursor: pointer;
    }

    tbody,
    thead tr {

      td,
      th {
        color: $secondary-text;
        border-top: 1px solid $border-grey-2;
        border-bottom: 1px solid $border-grey-2;

        &:first-of-type {
          border-radius: .75rem 0 0 .75rem;
          border-left: 1px solid $border-grey-2;
        }

        &:last-of-type {
          border-radius: 0 .75rem .75rem 0;
          border-right: 1px solid $border-grey-2;
        }
      }
    }
  }
}