$primary-text: #232E3C;
$secondary-text: #4D5763;
$primary-blue: #0062A6;
$primary-blue-hover: #0A5385;

$white: #fff;

$secondary-cyan: #45B6B8;

$background-blue-1: #E6F4F5;
$background-blue-2: #EDF0F6;
$background-blue-3: #F5F7FB;
$background-blue-4: #E5E8EE;
$background-blue-5: #F4F8F9;

$background-grey-1: #F8F8F8;

$placeholder-grey: #CACDCD;

$text-grey-2: #8690A9;
$text-grey-3: #7A8696;
$text-grey-4: #7D8A8D;

$border-grey-1: #DEE0E5;
$border-grey-2: #EDEDED;
$border-grey-3: #EBF1F2;