@import "../../../src/styles/variables.scss";
@import "../../../src/styles/fonts.scss";

.btn {
  padding: 0 !important;
  min-width: max-content !important;
}

.ai-button {
  padding: 0 !important;
  min-width: max-content !important;

  &:hover {
    background-color: $white !important;

  }

  img {
    width: 2rem;
    height: 2rem;
  }
}

.sa-wrap {
  width: 42vw;
  max-width: 650px;

  .sa-header {
    @include nunito-bold();
    font-size: 1rem !important;
    color: $secondary-text;
    padding: 1.25rem 1.75rem;
    background-color: $background-blue-5;
    border-bottom: 1px solid $border-grey-3;
  }

  .sa-content {
    padding: .75rem 1.75rem;

    .list-icon-button-wrap {
      padding: .5rem 0;

      &:hover {
        background-color: inherit;
      }

      .MuiTypography-root {
        @include nunito-regular();
      }
    }

    .list-icon-wrap {
      min-width: max-content;
      padding-right: 1.25rem;
      padding-bottom: 2px;
    }
  }

  .contact-tile {
    .cont-detail-wrap {
      .cont-detail {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}